.history {
    &__title {
        color: $pClr6;
        font-size: rem(20px);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-flow: row;
        grid-gap: 5px;
        padding: 20px;
    }

    &__clear {
        @include btn();
    }
}
