@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn() {
    padding: 10px;
    background-color: $pClr5;
    border: 0;
    border-radius: 2px;
    color: $pClr2;
    &:focus-visible {
        outline: 0;
    }

    &:hover {
        background-color: darken($pClr5, 5%);
    }

    &.disable {
        cursor: not-allowed;
        background-color: darken($pClr5, 10%);
    }
}
